name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build
      run: msbuild Genshin.Fps.UnlockerIsland.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Genshin.Fps.UnlockerIsland
        path: |
          x64/Release/Genshin.Fps.UnlockerIsland.dll
          x64/Release/Launcher.exe
